*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

.teal {
  color: #009999;
}

/* Sidebar */
#sidebar {
  position:absolute;
  top:0; bottom:0; left:0;
  z-index: 1;
  display: block;
  float: left;
  height: 100%;
  width: 18rem;
  background-color: white;
  text-align: center;
  font-family: 'klinic_slabbook', serif;
  font-size: 2rem;
}

.sidebar-logo {
  margin-top: 7rem;
  margin-bottom: 7rem;
  width: 3rem;
}

/* text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.link-text-fill a {
  color: #000000;
  text-shadow: none;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1.5rem;
} 

.link-text-fill a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 0;
  color: #009999;
  dipslay: inline-block;
  content: attr(data-hover);
  -webkit-transition: max-width 0.8s;
  -moz-transition: max-width 0.8s;
  transition: max-width 0.8s;
  white-space: nowrap;
}

.link-text-fill a:hover::before,
.link-text-fill a:focus::before {
  max-width: 100%;
}

/* Content */
#content{
  box-sizing: border-box;
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  padding-left: 18rem;
}

a{
  text-decoration: none;
  color: #004d99;
}
#meet{
  height: 100%;
  background-image: url('../assets/meet-bg.jpg');
  background-position: center center;
  background-size: cover;
  padding: 7rem;
}

.headline{
  font-family: 'maven_pro_light300', serif;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 4rem;
}

.body{
  font-family: 'klinic_slabbook', serif;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
}