---
---

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #777 !default;
$primary-color: #a4bfda !default;
$link-color: $primary-color !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$font-color: $dark-grey !default;

// Typography
$font-family-header: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family: "Merriweather", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Header
//––––––––––––––––––––––––––––––––––––––––––––––––––
.navbar {
  position: fixed;
  z-index: 1;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  font-family: $font-family-header;
  color: $dark-grey;
  text-align: center;
}

.navbar-name {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  clear:both;
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
}

.navbar-item {
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.navbar-item, a, .navbar-name a{
  text-decoration: none;
  color: $secondary-color;
}

.navbar-item a:hover, .navbar-name a:hover{
  color: $dark-grey;
}

.navbar-name a:hover {
  color: $link-color;
}

@media (#{$bp-larger-than-phablet}) {
  .navbar {
    text-align: left;
  }

  .navbar-name {
    margin-left: 2rem;
  }

  .navbar-list {
    text-align: none;
    margin-right: 2rem;
  }

  .navbar-item {
    float: right;
    margin-left: 2rem;
  }
}

// Body
//––––––––––––––––––––––––––––––––––––––––––––––––––
.page-content {
  flex: 1 0 auto;
  padding-top: 68px;
}

@media (#{$bp-larger-than-phablet}) {
  .page-content {
    padding-top: 46px;
  }
}

// Index Page

.background-image {
  height: 100%;
  width: 100%;
  background: #ffffff url("/images/index.jpg") no-repeat fixed center/cover;
}

// Posts

img {
  width: 100%;
}

.post-list {
  text-align: center;
}

.post-link {
  text-transform: uppercase;
}

.post-header, .blog-header {
  text-align: center;
  color: $dark-grey;
}

.post-title, .blog-header {
  text-transform: uppercase;
}

.blog-header > a {
  color: $dark-grey;
}

.blog-header > a:hover {
  color: $primary-color;
}

.post-content {
  text-align: center;
}

.post-meta {
  margin-bottom: 1.0rem;
}

.pagination {
  width: 100%;
  clear: both;
  display: table;
}

.next {
  float: right;
}

// Contact Page
.input-label {
  text-transform: uppercase;
  font-family: $font-family-header;
  text-align: left;
}

.contact-textarea {
  height: 8em;
}

// Footer
//––––––––––––––––––––––––––––––––––––––––––––––––––

.footer {
  font-family: $font-family;
  color: $dark-grey;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  flex: none;
}

.footer-copyright {
  margin-bottom: 0.5rem;
}

.footer-list {
  list-style: none;
  margin-bottom: 0;
}

.footer-item {
  position: relative;
  display: inline;
  margin-bottom: 0;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}

.footer-item a {
  text-decoration: none;
  color: $secondary-color;
}

.footer-item a:hover {
  color: $dark-grey;
}

// Useful
//––––––––––––––––––––––––––––––––––––––––––––––––––
.fill-height-or-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fill-height-or-more > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
