---
---

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #efefef !default;
$dark-grey: #3d3d3d !default;
$secondary-color: lighten($dark-grey, 33%) !default;
$primary-color: $secondary-color !default;
$link-color: $primary-color !default;
$border-color: #bbb !default;
$font-color: $dark-grey !default;

$work-color: #EE6557 !default;
$play-color: #16A6B6 !default;

// Typography
$font-family-header: "pier_sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family: "brelaregular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

//Transitions
$plain-transition: all .5s ease-in-out;

// Header
//––––––––––––––––––––––––––––––––––––––––––––––––––
.navbar {
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: $font-family-header;
  color: $dark-grey;
  text-align: center;
}

.navbar-content {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.navbar-logo-holder {
  text-transform: uppercase;
  clear:both;
  height: 7rem;
}

.navbar-logo {
  height: 100%;
  display: inline-block;
}

.navbar-logo path {
  fill: $dark-grey;
  -webkit-transition: $plain-transition;
  -moz-transition: $plain-transition;
  -ms-transition: $plain-transition; /* IE10 is actually unprefixed */
  -o-transition: $plain-transition;
  transition: $plain-transition;
}

.navbar-logo:hover .e {
  fill: $work-color;
}

.navbar-logo:hover .c {
  fill: $play-color;
}

.header-play:hover {
  color: $play-color;
}

.header-work:hover {
  color: $work-color;
}

.navbar-list-holder {
  text-align: center;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 2rem;
  margin-top: 24px;
  display: inline-block;
}

.navbar-item {
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  margin-left: 2rem;
  float: right;
}

.navbar-item, a, .navbar-name a{
  text-decoration: none;
  color: $secondary-color;
  -webkit-transition: $plain-transition;
  -moz-transition: $plain-transition;
  -ms-transition: $plain-transition; /* IE10 is actually unprefixed */
  -o-transition: $plain-transition;
  transition: $plain-transition;
}

.navbar-item a:hover, .navbar-name a:hover{
  color: $dark-grey;
}

.navbar-name a:hover {
  color: $link-color;
}

@media (#{$bp-larger-than-phablet}) {
  .navbar {
    text-align: left;
  }

  .navbar-list {
    margin-right: 0rem;
  }

  .navbar-content {
    margin-bottom: 2rem;
  }

  .navbar-list-holder{
    text-align: right;
  }
}

// Index Page

.background-image {
  height: 100%;
  width: 100%;
  background: #ffffff url("/images/index.jpg") no-repeat fixed center/cover;
}

// Posts

img {
  width: 100%;
}

.post-list {
  text-align: center;
}

.post-title, .post-link, .blog-header, .work-header {
  text-transform: uppercase;
}

.post-header, .blog-header, .work-header {
  text-align: center;
  color: $dark-grey;
}

.blog-header > a, .work-header > 1 {
  color: $dark-grey;
}

.blog-header > a:hover {
  color: $play-color;
}

.work-header > a:hover {
  color: $work-color;
}

.play-color {
  color: $play-color;
}

.blog-desc {
  text-align: center;
}

.post-content {
  text-align: center;
}

.post-meta {
  margin-bottom: 1.0rem;
}

.pagination {
  width: 100%;
  clear: both;
  display: table;
}

.next {
  float: right;
}

.next:hover, .previous:hover {
  color: $play-color;
}

// About Page

// Contact Page
.contact-form {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.contact-overlay {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lighten($light-grey, 9.6%);
}

.thanks{
  margin-left: auto;
  margin-right: auto;
}

.input-label {
  text-transform: uppercase;
  font-family: $font-family-header;
  text-align: left;
}

.contact-textarea {
  height: 8em;
}

.submit-button {
  margin-bottom: 0;
}

// Work
.work-posts {
  display: inline-block;
  list-style: none;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -4rem;
}

.work-post {
  position: relative;
  box-sizing: border-box;
  float: left;
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.work-meta {
  pointer-events: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: $plain-transition;
  -moz-transition: $plain-transition;
  -ms-transition: $plain-transition; /* IE10 is actually unprefixed */
  -o-transition: $plain-transition;
  transition: $plain-transition;
}

.work-icon-holder {
  height: 7rem;
  margin-bottom: 1rem;
}

.work-icon {
  height: 100%;
  display: inline-block;
}

.work-icon path {
  fill: $work-color;
}

.work-icon rect, .work-icon circle, .work-icon line, .work-icon polygon, .work-icon polyline {
  stroke: $work-color;
}

.white-overlay {
  pointer-events: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0;
  -webkit-transition: $plain-transition;
  -moz-transition: $plain-transition;
  -ms-transition: $plain-transition; /* IE10 is actually unprefixed */
  -o-transition: $plain-transition;
  transition: $plain-transition;
}

.work-link:hover > .white-overlay {
  opacity: 0.7;
}

.work-link:hover > .work-meta {
  opacity: 1;
}

@media (#{$bp-larger-than-tablet}) {
  .work-post {
    width: 50%;
    margin-bottom: 4rem;
  }
}

.work-blurb  {
  margin-top: 1rem;
}

.work-desc {
  margin-bottom: 1rem;
}

.grayscale-image {
  -webkit-transition: $plain-transition;
  -moz-transition: $plain-transition;
  -ms-transition: $plain-transition; /* IE10 is actually unprefixed */
  -o-transition: $plain-transition;
  transition: $plain-transition;
}

.grayscale-image:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

// Footer
//––––––––––––––––––––––––––––––––––––––––––––––––––

.footer {
  font-family: $font-family;
  color: $dark-grey;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  flex: none;
}

.footer-copyright {
  margin-bottom: 0.5rem;
}

.footer-list {
  list-style: none;
  margin-bottom: 0;
}

.footer-item {
  position: relative;
  display: inline;
  margin-bottom: 0;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}

.footer-item a {
  text-decoration: none;
  color: $secondary-color;
}

.footer-item a:hover {
  color: $dark-grey;
}

// Useful
//––––––––––––––––––––––––––––––––––––––––––––––––––
.fill-height-or-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fill-height-or-more > div, .fill-height-or-more > main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  // -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  // justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.scrollToTop{
  text-align:center;
  text-decoration: none;
  position:fixed;
  bottom:2rem;
  right:2rem;
  display:none;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -ms-transition: color .5s ease-in-out; /* IE10 is actually unprefixed */
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

@media (max-width: 750px) {
  .scrollToTop {
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
