---
# Main sass file, including variables & Skeleton on top to
# ensure a single source of truth
---

@import "skeleton";

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Table of contents –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// - Universal
// - Header
// - Index Page
// - Posts
// - Work Pages
// - Footer
// - Utilities



// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Universal –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.play-color, .play a {
  color: $play-color;
}

.work-color, .work a {
  color: $work-color;
}

img {
  width: 100%;
  display: block;
}

a {
  &:hover {
    color: $font-color;
  }

  text-decoration: none;
  @include transition($plain-transition);
}

.fill-height-or-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-content {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1 0 auto;
}

.site-header, .site-footer {
  flex: none; /* 2 */
}



// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Header ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.navbar {
  font-family: $font-family-header;
  font-size: 2rem;
  letter-spacing: .1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar a {
  color: $font-color;
}

.navbar-left, .navbar-index {
  display: inline-block;
}

.navbar-right {
  float: right;
  display: inline-block;
}

.navbar-cur-page {
  border-bottom: 1.5px solid $font-color;
}

.index-navbar {
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.navbar-list {
  margin-bottom: 0rem;
  list-style: none;
  display: inline-block;
}

.navbar-item {
  margin-bottom: 0;
  float: right;
  line-height: normal;
}

.e, .c {
  @include transition($plain-transition);
}

.navbar-index:hover .e {
  @include transition($plain-transition);
  color: $work-color;
}

.navbar-index:hover .c {
  @include transition($plain-transition);
  color: $play-color;
}

.header-play:hover {
  color: $play-color;
}

.header-work:hover {
  color: $work-color;
}

.scroll-to-top {
  text-align: center;
  text-decoration: none;
  position:fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;

  @include transition($plain-transition);
}

@media (#{$bp-larger-than-tablet}) {
  .scroll-to-top {
    height: auto;
    overflow: visible;
    visibility: visible;
  }
}



// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Index Page ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.index-background, .index-content {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.index-left {
  text-align: left;
  font-family: $font-family-header;
  font-size: 1.6rem;
}

.index-right {
  display: none;
}

@media (#{$bp-larger-than-phablet}) {
  .index-right {
    display: block;
  }
}

#index-pic-container {
  position: relative;
  width: 100%;
  padding-bottom: 66%;
}

#index-pic {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: url("/images/hci.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  @include transition($plain-transition);
}

#image-preloader {
  width: 1px;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
}


// Posts
//––––––––––––––––––––––––––––––––––––––––––––––––––

.blog-header, .work-header {
  letter-spacing: .1rem;
}

.post-title, .post-meta {
  color: $dark-grey !important;
}

.post-header {
  text-align: center;
  color: $dark-grey;
  padding-bottom: 1rem;
}

.blog-header > a, .work-header > a {
  color: $primary-color;
}

.blog-header > a:hover {
  color: $play-color;
}

.work-header > a:hover {
  color: $work-color;
}

.back {
  text-align: left;
}

.blog-desc {
  text-align: center;
}

.post-content {
  text-align: center;
}

.post-meta {
  margin-bottom: 1.0rem;
}

.pagination {
  width: 100%;
  clear: both;
  display: table;
}

.next {
  float: right;
}

.next:hover, .previous:hover {
  color: $play-color;
}

.embed-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.embed-video iframe,
.embed-video object,
.embed-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Work Pages
//––––––––––––––––––––––––––––––––––––––––––––––––––

.work-posts {
  display: inline-block;
  list-style: none;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -2rem;
}

.work-post {
  position: relative;
  box-sizing: border-box;
  float: left;
  line-height: 0;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.work-meta {
  pointer-events: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;

  @include transition($plain-transition);
}

.work-icon-holder {
  height: 7rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.work-icon {
  height: 100%;
}

.work-icon path {
  // fill: $work-color;
}

.work-icon circle, .work-icon rect, .work-icon polygon, .work-icon line, .work-icon polyline {
  // stroke: $work-color;
}

.white-overlay {
  pointer-events: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0;

  @include transition($plain-transition);
}

.work-link:hover > .white-overlay {
  opacity: 0.7;
}

.work-link:hover > .work-meta {
  opacity: 1;
}

@media (#{$bp-larger-than-tablet}) {
  .work-post {
    width: 50%;
    margin-bottom: 2rem;
  }
}

.grayscale-image {
  @include transition($plain-transition);
}

.grayscale-image:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.double-photo {
  margin-bottom: 2rem;
}

.double-photo > img {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.double-left {
  padding-right:1rem;
}

.double-right {
  padding-left: 1rem;
}

// Footer
//––––––––––––––––––––––––––––––––––––––––––––––––––

.footer {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.footer-copyright {
  margin-bottom: 0.5rem;
}

.footer-list {
  list-style: none;
  margin-bottom: 0;
}

.footer-item {
  display: inline;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Utilities –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.u-center {
  text-align: center;
}

.u-vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
