---
title: My Work
layout: default
permalink: /work/
---
<main class="page-content container">

  <div class="row">
    <div class="twelve columns">
      <h1 class="blog-header"><a href="/work">My Work</a></h1>
      {% assign posts = site.work | sort: 'position' %}
      {% for post in posts %}
        <div class="work-post">
          <div class="row">
            <div class=" twelve columns u-center">
              <p class="post-meta">{{ post.dates }}</p>
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="six columns offset-by-three">
              <img src={{ post.image }}>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns u-center work-blurb">
              <p class="work-desc">{{ post.description }}</p>
              <p>
                <a href={{ post.url }}>Read More <span class="fa fa-long-arrow-right"></span></a><br>
                {% if post.github %}
                  <a href={{post.github}}>View on Github</a>
                {% endif %}
                {% if post.site %}
                  <a href={{post.site}}>View project site</a>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</main>
