---
title: Work
layout: default
permalink: /work/
---
<main class="page-content container">

  <div class="row">
    <div class="twelve columns">
      <h1 class="work-header">Work</h1>
      <ul class="work-posts">
          {% assign posts = site.work | sort: 'position' %}
          {% for post in posts %}
          <li class="work-post">
            <a class="work-link" href={{ post.url }}>
              <img src={{ post.image }}>
              <div class="white-overlay"></div>
              <div class="work-meta">
                <div class="u-vertical-align">
                  <p class="work-post-meta">{{ post.dates }}</p>

                  <div class="work-icon-holder">
                    {% if post.category == 'hardware' %}
                      {% include /svg/hardware.svg %}
                    {% elsif post.category == 'software'%}
                      {% include /svg/software.svg %}
                    {% elsif post.category == 'design'%}
                      {% include /svg/design.svg %}
                    {% endif %}
                  </div>

                  <h2 class="work-post-title">{{ post.title }}</h2>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</main>
