<footer class="site-footer">
  <div class="container footer">
    <div class="row">
      <div class="twelve columns u-center">
        <span class="footer-copyright"><span class="fa fa-copyright"></span> Ethan Chiou 2015</span>
        <br>
        <ul class="footer-list">
          <li class="footer-item"><a href="https://github.com/echiou" target="_blank"><span class="fa fa-github-square"></span> GitHub</a></li>
          <li class="footer-item"><a href="https://flickr.com/echiou" target="_blank"<span class="fa fa-flickr"></span> Flickr</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

