<footer class="site-footer">
  <div class="container footer">
    <div class="row">
      <div class="twelve columns u-center">
        <p class="footer-copyright"><span class="fa fa-copyright"></span> Ethan Chiou 2015</p>
        <ul class="footer-list">
          <li class="footer-item"><a href="https://github.com/echiou"><span class="fa fa-github"></span> GitHub</a></li>
          <li class="footer-item"><a href="https://flickr.com/echiou"><span class="fa fa-flickr"></span> Flickr</a></li>
          <li class="footer-item"><a href="https://instagram.com/exploreslashcreate"><span class="fa fa-instagram"></span> Instagram</a></li>
          <li class="footer-item"><a href="/contact"><span class="fa fa-envelope"></span> Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

