<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="twelve columns u-center">
        <div class="index-text">
          I'm Ethan Chiou, an engineer at <span class="index-link-work" id="index-mindtribe">MindTribe</span>.<br>I graduated from UC Berkeley with a degree in Electrical Engineering & Computer Science, and focused largely on HCI.<br>In my free time, I enjoy <span class="index-link-play" id="index-photos">taking photos</span> and making things with my hands.
        </div>
      </div>
    </div>
  </div>
</footer>

