<footer class="site-footer">
  <div class="container footer">
    <div class="row">
      <div class="twelve columns u-center">
        <p class="footer-copyright"><span class="fa fa-copyright"></span> Ethan Chiou 2017</p>
        <ul class="footer-list">
          <li class="footer-item"><a href="mailto:{{ site.email | encode_email }}"><span class="fa fa-envelope-o"></span> email</a></li>
          <li class="footer-item"><a href="https://github.com/echiou"><span class="fa fa-code-fork"></span> github</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

