<header class="site-header">
  <div class="container navbar">
    <div class="row">
      <div class="four columns"><span class="navbar-name"><a href="/">Ethan Chiou</a></span></div>
      <div class="eight columns">
        <ul class="navbar-list">
          <li class="navbar-item"><a href="/contact">Contact</a></li>
          <li class="navbar-item"><a href="/about">About</a></li>
          <li class="navbar-item"><a href="/blog">Blog</a></li>
          <li class="navbar-item"><a href="/work">Work</a></li>
        </ul>
      </div>
    </div>
  </div>

</header>
