<header class="site-header">

  {% if page.url == "/" %}
    <div class="container navbar index-navbar">
  {% else %}
    <div class="container navbar">
  {% endif %}
    <div class="row">
      <div class="twelve columns u-center navbar-content">
          <ul class="navbar-list">
            {% if page.url == "/" %}
              <li class="navbar-item">
                <div class="navbar-logo-holder">
                  {% include /svg/logo.svg %}
                </div>
              </li>
            {% else %}
              <li class="navbar-item navbar-text"><a class="header-play" href="/blog">Play</a></li>
              <li class="navbar-item">
                <div class="navbar-logo-holder">
                  {% include /svg/logo.svg %}
                </div>
              </li>
              <li class="navbar-item navbar-text"><a class="header-work" href="/work">Work</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="scroll-to-top">
    <span class="fa fa-long-arrow-up"></span><br>
    Top
  </a>

</header>
