<header class="site-header">
  <div class="container navbar index-navbar">
    <div class="row navbar-content">
      <div class="four columns">
        <div class="navbar-logo-holder index-navbar-logo-holder">
          {% include /svg/index-logo.svg %}
        </div>
      </div>
      <div class="eight columns navbar-list-holder">
        <ul class="navbar-list">
          <li class="navbar-item index-navbar-items"><a href="/contact">Contact</a></li>
          <li class="navbar-item index-navbar-items"><a href="/about">About</a></li>
          <li class="navbar-item index-navbar-items"><a href="/blog">Play</a></li>
          <li class="navbar-item index-navbar-items"><a href="/work">Work</a></li>
        </ul>
      </div>
    </div>
  </div>

<a href="#" class="scrollToTop">
  <span class="fa fa-long-arrow-up"></span><br>
  Top
</a>

</header>
