<header class="site-header">

  {% if page.url == "/" %}
    <div class="container navbar index-navbar">
  {% else %}
    <div class="container navbar">
  {% endif %}
      <div class="row">
        <div class="twelve columns">
          <div class="navbar-left">
            <ul class="navbar-list">
              {% if page.url == "/blog/" or page.layout == "post" %}
                <li class="navbar-item navbar-text navbar-cur-page">
              {% else %}
                <li class="navbar-item navbar-text">
              {% endif %}
                  <a class="header-play" href="/blog">play</a>
                </li>

              <li class="navbar-item navbar-text">&nbsp~&nbsp</li>

              {% if page.category == "work" or page.layout == "work" %}
                <li class="navbar-item navbar-text navbar-cur-page">
              {% else %}
                <li class="navbar-item navbar-text">
              {% endif %}
                  <a class="header-work" href="/work">work</a>
                </li>
            </ul>
          </div>
          <div class="navbar-right">
            <a class="navbar-index" href="/"><span class="e">e</span> ~ <span class="c">c</span></a> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="scroll-to-top">
    <span class="fa fa-long-arrow-up"></span><br>
    Top
  </a>

</header>
