@use "cirrus-ui/src/cirrus-ext" as *;

// User created color variables
$link-color: #666666 !default;
$link-hover-color: #242424 !default;
$work-color: #ee6557 !default;
$play-color: #16a6b6 !default;

a,
a span {
  color: $link-color;
  padding: 0;

  transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;

  &:hover {
    color: $link-hover-color !important;
  }
}

// Override Cirrus defaults with specificity
.play-link,
.header .play-link {
  color: $play-color;
}

// Override Cirrus defaults with specificity
.work-link,
.header .work-link {
  color: $work-color;
}

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Header ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.header {
  box-shadow: none;
}

.nav-item {
  cursor: default;
}

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// Index Page ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.intro-images {
  background-size: cover;

  transition: background-image 0.3s ease-in;
  -webkit-transition: background-image 0.3s ease-in;
  -moz-transition: background-image 0.3s ease-in;
  -ms-transition: background-image 0.3s ease-in;
  -o-transition: background-image 0.3s ease-in;
}
