---
title: Explore/Create
layout: default
---
<main class="page-content container">

  <div class="row">
    <div class="twelve columns">
      <h1 class="blog-header"><a href="/blog">Explor<span class="primary-color">e/C</span>reate</a></h1>
      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous"><span class="fa fa-long-arrow-left"></span> Previous</a>
        {% endif %}
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next <span class="fa fa-long-arrow-right"></span></a>
        {% endif %}
      </div>

      <!-- This loops through the paginated posts -->
      {% for post in paginator.posts %}
        <div class="post-header">
          <p class="post-meta">{{ post.date | date: "%m.%d.%y"}}</p>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </div>

        <div class="row">
          <div class="twelve columns">
            <article class="post-content">
              {{ post.content }}
            </article>
          </div>
        </div>
      {% endfor %}

      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous"><span class="fa fa-long-arrow-left"></span> Previous</a>
        {% endif %}
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next <span class="fa fa-long-arrow-right"></span></a>
        {% endif %}
      </div>
    </div>
  </div>

</main>
