---
title: Blog
layout: default
---
<main class="page-content container play">

  <div class="row">
    <div class="twelve columns">
      <h1 class="play-header">{{ page.title }}</h1>
      <!-- This loops through the paginated posts -->
      {% for post in paginator.posts %}
        <div class="post-header">
          <p class="post-meta">{{ post.date | date: "%B %Y"}}</p>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          
          <!-- Pagination links -->
          <div class="post-nav">
            {% if paginator.previous_page %}
              <div class="previous"><a href="{{ paginator.previous_page_path }}" class="link-color"><span class="fa fa-long-arrow-left"></span> Previous</a></div>
            {% endif %}
            {% if paginator.next_page %}
              <div class="next"><a href="{{ paginator.next_page_path }}" class="link-color">Next <span class="fa fa-long-arrow-right"></span></a></div>
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="twelve columns">
            <article class="post-content">
              {{ post.content }}
            </article>
          </div>
        </div>
      {% endfor %}

      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous link-color"><span class="fa fa-long-arrow-left"></span> Previous</a>
        {% endif %}
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next link-color">Next <span class="fa fa-long-arrow-right"></span></a>
        {% endif %}
      </div>
    </div>
  </div>

</main>
