---
layout: default
---
<main class="page-content {{ layout.type }}">
  <div class="post container">

    <div class="row">
      <div class="twelve columns">
        <div class="post-header">
          {% if page.dates %}
            <p class="post-meta">{{ page.dates }}</p>
          {% else %}
            <p class="post-meta">{{ page.date | date: "%B %Y"}}</p>
          {% endif %}
          <h1 class="post-title">{{ page.title }}</h1>
          <div class="post-nav">
            <div class="back"><a href="/{{ layout.type }}" class="link-color"><span class="fa fa-long-arrow-left"></span> Back</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        {{ content }}
      </div>
    </div>

    <div class="back"><a href="/{{ layout.type }}" class="link-color"><span class="fa fa-long-arrow-left"></span> Back</a></div>

  </div>
</main>
