---
layout: default
---
<main class="page-content play">
  <div class="post container">

    <div class="row">
      <div class="twelve columns">
        <h1 class="blog-header"><a href="/blog">Explor<span class="play-color">e/C</span>reate</a></h1>
        <header class="post-header">
          <p class="post-meta">{{ page.date | date: "%m.%d.%y"}}</p>
          <h2 class="post-title">{{ page.title }}</h2>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <article class="post-content">
          {{ content }}
        </article>
      </div>
    </div>

  </div>
</main>
